<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="UTF-8">
    <title>Capstone Project</title>
</head>

<body>
    <div class="holder" id="app">
        <div class="holder headline">
            Travel Planner
        </div>

        <div class="holder city">
            <label for="city">Enter city here</label>
            <input type="text" id="city" placeholder="ex: London">
        </div>

        <div class="holder date">
            <label for="date">Enter date</label>
            <input type="date" id="date">
        </div>

        <button type="submit" onclick="Client.handleClick(event)">
            Submit
        </button>
        
        <div class="holder results">
        </div>
    </div>

    <img id="image">

</body></html>
