body {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    font-family: 'Oswald', sans-serif;
}

.bg {
    background-color: #ffe8d1;
    border-top: 25px double white;
    border-bottom: 25px double white;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2vh;
}

.bottom {
    justify-content: center;
    grid-gap: 15em;
    margin-top: 10vh;
}

.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding-top: 2vh;
    font-size: 65px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

input {
    display: block;
    height: 30px;
    width: 280px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid black;
}

button {
    height: 50px;
    width: 280px;
    background: #6be0ef;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 5px #444;
    margin-top: 2vh;
}

.results {
    grid-gap: 1.5em;
    font-size: 22px;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    height: 30vh;
    width: 23vh;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px #3b4a6b;
    background-color: white;
    border: 10px double #6be0ef;
}

#temp {
    font-size: 30px;
}

#condition {
    font-size: 18px;
    word-wrap: break-word;
}

img {
    border-radius: 15px;
}

footer {
    padding: 5px;
}

.hidden {
    display: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: 'Oswald', sans-serif;
}
